{% extends 'restaurant/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user }}</td>
            <td>{{ order.total }}</td>
            {% if order.delivered == False %}
                <td>Not completed</td>
            {% else %}
                <td>completed !</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      Your total - {{sum.total__sum}}
      <br>
      Your rating Avg = {{avg.rate__avg}}
      <br>
      <button><a href="/restaurant/download/orders"><label>Download orders to xl file</label></a></button>
</body>
</html>
{% endblock %}