{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>What you want to eat today ?</h3>
    <section class="product-grid">
        <div class="container">
          <div class="row">
            {% for rest in restaurants %}
            <div class="col-sm-6 col-md-4">
              <div class="card">
                <img src="/media/{{rest.restaurant.img}}">
                <div class="card-body">
                  <a href="/customer/main/{{rest.restaurant.id}}"><h5 class="card-title">{{rest.restaurant.name}}</h5></a>
                  <p class="card-text">{{rest.restaurant.detail}}</p>
                  <div class="product-price">{{rest.restaurant.category}}</div>
                  <div class="product-price">{{rest.restaurant.location.location}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
</body>
</html>
{% endblock %}